{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "nodes": [{
		"role": "master",
        "container": {
            "type": "kvm",
            "zone": "pek3a",
            "image": "img-9yjvu1j3"
        },
       "instance_class": {{cluster.master.instance_class}},
       "count": {{cluster.master.count}},
       "cpu": {{cluster.master.cpu}},
       "memory": {{cluster.master.memory}},
       "volume": {
                "size": {{cluster.master.volume_size}},
                "mount_point": "/data",
                "mount_options": "defaults,noatime",
                "filesystem": "ext4"
           }

	   }]
}